.nav{
    margin-top: 0rem;
    background-image: linear-gradient(190deg,rgb(16, 52, 100) 25%,rgb(85, 133, 196) )
}

li.nav-link>a {
    color: floralwhite;
}

#croom11a {
    float: right;
}

.jumbotron {
    background-color:#3174dab2;
}